{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}SnowTricks - Créer un trick{% endblock %}

{% block body %}
    <div class="col-lg-7 col-md-10 mx-auto">
        <h1>Créer un nouveau trick</h1>
        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.category) }}
        {{ form_row(form.images)}}
        <button type="button" class="btn btn-primary" id="new-image">Ajout image</button>

        {{ form_row(form.videos)}}
        <button type="button" class="btn btn-primary" id="new-video">Ajout video</button>
        <br/>
        <br/>
        <button type="submit" class="btn btn-primary btn-lg col-3"><i class="fas fa-check"></i> Créer le nouveau trick !</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        window.onload =() => {
            //add image
            const ImageCollectionHolder = document.querySelector('#trick_images');

            let indexImage = ImageCollectionHolder.querySelectorAll("fieldset").length;

            const addImage = () => {

                ImageCollectionHolder.innerHTML += ImageCollectionHolder.dataset.prototype.replace(/__name__/g, indexImage);
                indexImage++;
            };

            document.querySelector('#new-image').addEventListener("click", addImage);


            //add video

            const VideoCollectionHolder = document.querySelector('#trick_videos');

            let indexVideo = VideoCollectionHolder.querySelectorAll("fieldset").length;

            const addVideo = () => {

                VideoCollectionHolder.innerHTML += VideoCollectionHolder.dataset.prototype.replace(/__name__/g, indexVideo);
                indexVideo++;
            };

            document.querySelector('#new-video').addEventListener("click", addVideo);
        }

    </script>

{% endblock %}