{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
{% if app.request.attributes.get('_route')=='trick_create' %}

SnowTricks - Créer un trick
    {% elseif app.request.attributes.get('_route')=='trick_edit' %}

        SnowTricks - Editer un trick

{% endif %}
{% endblock %}

{% block body %}
    {% if app.request.attributes.get('_route')=='trick_create' %}
    <div class="col-lg-7 col-md-10 mx-auto">
        <h1>Créer un nouveau trick</h1>
        {{ form_start(form) }}
        {{ include('trick/form_items/_form.html.twig',{form: form}) }}
        <button type="submit" class="btn btn-primary btn-lg col-3"><i class="fas fa-check"></i> Créer le nouveau trick </button>
        {{ form_end(form, {render_rest: false }) }}
        <br/>
        <br/>
        <br/>
    </div>
    {% elseif app.request.attributes.get('_route')=='trick_edit' %}
    <div class="col-lg-7 col-md-10 mx-auto">
        <h1>Modifier un trick</h1>
        {{ form_start(form) }}
        {{ include('trick/form_items/_form.html.twig',{form: form}) }}
        <button type="submit" class="btn btn-primary btn-lg col-3"><i class="fas fa-check"></i> Enregistrer le trick </button>
        {{ form_end(form, {render_rest: false }) }}
        <br/>
        <br/>
        <br/>
    </div>
    {% elseif app.request.attributes.get('_route')=='trick_edit_name' %}
        <div class="col-lg-7 col-md-10 mx-auto">
            <h1>Modifier le nom</h1>
            {{ form_start(form) }}
            {{ include('trick/form_items/name_form.html.twig',{form: form}) }}
            <button type="submit" class="btn btn-primary btn-lg col-3"><i class="fas fa-check"></i> Enregistrer le nom </button>
            {{ form_end(form, {render_rest: false }) }}
            <br/>
            <br/>
            <br/>
        </div>
    {% elseif app.request.attributes.get('_route')=='trick_edit_description' %}
        <div class="col-lg-7 col-md-10 mx-auto">
            <h1>Modifier la description</h1>
            {{ form_start(form) }}
            {{ include('trick/form_items/description_form.html.twig',{form: form}) }}
            <button type="submit" class="btn btn-primary btn-lg col-3"><i class="fas fa-check"></i> Enregistrer la description </button>
            {{ form_end(form, {render_rest: false }) }}
            <br/>
            <br/>
            <br/>
        </div>
{% elseif app.request.attributes.get('_route')=='trick_edit_category' %}
    <div class="col-lg-7 col-md-10 mx-auto">
        <h1>Modifier la catégorie</h1>
        {{ form_start(form) }}
        {{ include('trick/form_items/category_form.html.twig',{form: form}) }}
        <button type="submit" class="btn btn-primary btn-lg col-3"><i class="fas fa-check"></i> Enregistrer la catégorie </button>
        {{ form_end(form, {render_rest: false }) }}
        <br/>
        <br/>
        <br/>
    </div>
{% elseif app.request.attributes.get('_route')=='trick_add_images' %}
    <div class="col-lg-7 col-md-10 mx-auto">
        <h1>Ajouter des images</h1>
        {{ form_start(form) }}
        {{ include('trick/form_items/images_form.html.twig',{form: form}) }}
        <button type="submit" class="btn btn-primary btn-lg col-3"><i class="fas fa-check"></i> Enregistrer les images </button>
        {{ form_end(form, {render_rest: false }) }}
        <br/>
        <br/>
        <br/>
    </div>
{% elseif app.request.attributes.get('_route')=='trick_edit_image' %}
    <div class="col-lg-7 col-md-10 mx-auto">
        <h1>Modifier l'image</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary btn-lg col-3"><i class="fas fa-check"></i> Enregistrer les images </button>
        {{ form_end(form, {render_rest: false }) }}
        <br/>
        <br/>
        <br/>
    </div>
{% elseif app.request.attributes.get('_route')=='trick_add_videos' %}
    <div class="col-lg-7 col-md-10 mx-auto">
        <h1>Ajouter des vidéos</h1>
        {{ form_start(form) }}
        {{ include('trick/form_items/videos_form.html.twig',{form: form}) }}
        <button type="submit" class="btn btn-primary btn-lg col-3"><i class="fas fa-check"></i> Enregistrer les vidéos </button>
        {{ form_end(form, {render_rest: false }) }}
        <br/>
        <br/>
        <br/>
    </div>
{% elseif app.request.attributes.get('_route')=='trick_edit_video' %}
    <div class="col-lg-7 col-md-10 mx-auto">
        <h1>Modifier la vidéo</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary btn-lg col-3"><i class="fas fa-check"></i> Enregistrer la vidéo </button>
        {{ form_end(form, {render_rest: false }) }}
        <br/>
        <br/>
        <br/>
    </div>
    {% endif %}
{% endblock %}
