{% extends 'base.html.twig' %}

{% block title %} SnowTricks - {{ trick.name }} {% endblock %}

{% block header %}
    <header class="masthead">
        <div class="container">
            <div class="d-flex flex-row-reverse">
                <a href="" class="btn btn-sm btn-primary p-2 fs-2 mb-3">
                    <i class="bi bi-trash"></i>
                </a>
                <a href="{{ path("trick_edit",{'id': trick.id}) }}" class="btn btn-sm btn-primary p-2 fs-2 mb-3">
                    <i class="bi bi-pencil-square"></i>
                </a>
            </div>
        {% for image in trick.images|slice(0,1) %}
        <style>
            .masthead
            {
                background-image: url({{ asset('/uploads/tricks/' ~ trick.mainimage)}})

            ;}
        </style>
            <a href="{{ path("trick_edit_main",{'id': trick.id}) }}" class="btn btn-sm btn-primary p-2">
                <i class="bi bi-pencil-square"></i>
            </a>
        {% endfor %}
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="fw-light">{{ trick.name }}
                        <a href="{{ path("trick_edit_name",{'id': trick.id}) }}" class="btn btn-sm btn-primary p-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </h1>
                </div>
            </div>
        </div>
        </div>
    </header>
{% endblock %}
{% block body %}
    <div class="container-fluid ">
        <div class="row d-flex">
            <div class="row col-6 ">
                <h2
                        class="text-center">Les tricks en image
                    <a href="{{ path("trick_edit_images",{'id': trick.id}) }}" class="btn btn-sm btn-primary p-2">
                        <i class="bi bi-pencil-square"></i>
                    </a>

                </h2>

                {% for image in trick.images %}
                    <div class="col-lg-4 col-md-12 mb-3 pb-3 ">
                        <div class="card h-100 ">
                            <img class="card-img-top" src="{{ asset('/uploads/tricks/' ~ image.path) }}" alt="..."/>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row d-flex align-items-end col-6">
                <h2
                        class="text-center">Les tricks en vidéo
                    <a href="{{ path("trick_edit_videos",{'id': trick.id}) }}" class="btn btn-sm btn-primary p-2">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </h2>
                {% for video in trick.videos %}
                    <div class="col-lg-4 col-md-12 mb-3 pb-3">
                        <div class="card h-100">
                            <iframe
                                    src="{{ video.url }}"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>

                            </iframe>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{# Contenu du trick #}
<section id="content">
    <div class="container">
        <p>
            {{ trick.description}}
            <a href="{{ path("trick_edit_description",{'id': trick.id}) }}" class="btn btn-sm btn-primary p-2">
                <i class="bi bi-pencil-square"></i>
            </a>

        </p>
    </div>
</section>

    {# Informations du trick #}
    <section id="informations">
        <div class="container">
            <p>
                {{ trick.createdAt|date('d-m-Y') }}
            </p>
            <p>
                {{ trick.category.name}}
                <a href="{{ path("trick_edit_category",{'id': trick.id}) }}" class="btn btn-sm btn-primary p-2">
                    <i class="bi bi-pencil-square"></i>
                </a>
            </p>
            <br/>
            <HR>
            <br/>
            <br/>
            <HR>
            <br/>
            <br/>
        </div>
    </section>
    {# Contenu du trick #}
    <section id="comments">
        {% for comment in trick.comments %}
        <div class="comments">
            <div class="row">
                <div class="col-3">
             (<small>{{ comment.createdAt|date('d-m-Y à H:i') }}</small>)
                </div>
                <div class="col">
                    {{ comment.content | raw }}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <br/>
    <br/>
    <br/>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
